body {
   display: flex;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: auto;
   background: rgb(179, 0, 255);
   background: linear-gradient(90deg, rgba(179, 0, 255, 1) 0%, rgba(10, 0, 255, 1) 100%);
   overflow-x: hidden;

}

h1 {
   color: white
}

.pequeño {
   font-size: 0.5em;
}




.barra {
   display: none;
   font-size: large;
   width: 80vw;
   box-sizing: border-box;
   overflow: hidden;
   height: 25px;
   background-color: #00008b;
   color: white;
   position: relative;
   border-radius: 25px;
   border: solid 3px rgb(255, 255, 255);
   margin-bottom: 1em;
   margin-top: 1em;

}

.solucionBola {
   display: none;
   height: 20px;
   width: 20px;
   border-radius: 20px;
   background-color: white;
   background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 242, 0) 100%);
   position: absolute;
   animation: crecerAncho 60s linear;
   animation-play-state: running;
}

@keyframes crecerAncho {
   from {
      width: 20px;
   }

   to {
      width: 80vw;
   }
}





.rondaActual,
.puntuacion {
   width: 100px;
   height: 20px;
   background-color: lightblue;
   display: none;

}

.plantarse {
   display: none;
}

.derecha {
   width: 80vw;
   display: flex;
   justify-content: flex-end;
   margin-bottom: 2em;
}

.confirmar {
   padding: 1em;
   border-radius: 1em;
   border: solid 0.2em black;
   margin: 1em;
   font-size: 1em;
}

.confirmar:hover {

   cursor: pointer;
}



.rondas {
   height: auto;

   display: flex;
   flex-direction: column-reverse;
   justify-content: center;
   align-items: flex-end
}

.ronda {

   border-radius: 0.5em;
   padding: 0.5em;
   display: none;
   width: 100px;
   height: 20px;
   background-color: gray;
   color: white;
   border: solid 0.2em white;
   margin: 0.2em;

}

#ronda1 {
   width: 50px;
}

#ronda2 {
   width: 60px;
}

#ronda3 {
   width: 80px;
}

#ronda4 {
   width: 110px;
}

#ronda5 {
   width: 150px;
   background-color: #00008b;
}

#ronda6 {
   width: 200px;
}

#ronda7 {
   width: 260px;
}

#ronda8 {
   width: 330px;
}

#ronda9 {
   width: 410px;
}

#ronda10 {
   width: 500px;
   background-color: #00008b;
}

#ronda11 {
   width: 600px;
}

#ronda12 {
   width: 710px;
}

#ronda13 {
   width: 830px;
}

#ronda14 {
   width: 960px;
}

#ronda15 {
   width: 1100px;
   background-color: #00008b;
}

.bottom {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80vw;
}

.hide-bottom {
   display: none;
}

.generarPregunta {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #00008b;
   color: white;
   padding: 1em 3em;
   border: solid 0.2em white;
   font-size: 1.5em;
   border-radius: 4em;
   margin-bottom: 1em;
}

.generarPregunta:hover {
   cursor: pointer;
}





.pregunta {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #00008b;

   width: 100%;
   box-sizing: border-box;
   overflow: hidden;
   color: white;
   padding: 1em 3em;
   border: solid 0.2em white;
   font-size: 1.5em;
   border-radius: 4em;
   margin-bottom: 1em;
}

.respuestas {

   width: 80vw;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 2em;
   justify-content: space-between;
   align-items: space-between;
}

.respuestas:hover {
   cursor: pointer;

}

.respuesta {
   text-align: center;
   color: white;
   padding: 1em;
   border: solid 0.2em white;
   border-radius: 3em;
   padding: 1em 3em;
}

.respuesta:hover {
   opacity: 0.7;
}




.comodines {
   display: flex;
   justify-content: flex-end;
   width: 80vw;

}

.boton50porciento,
.botonSaltar,
.botonPublico {
   text-justify: center;
   text-align: center;
   padding: 0.2em;
   border-radius: 50%;
   width: 5em;
   height: 5em;
   margin: 1em;
   border: solid 0.2em black;

}